.content {
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
margin: 20px;
    /* padding: 20px; */
    width: 90%;
    text-align: center;
    color: black;
    margin: auto;
    padding-top: 50%;
  }